<div class="card-item">
<img src="/img/car-card.png" alt="Car" />
<div class="card-content">
    <h3><%= carro.name %></h3>
    <p><%= carro.descricao %></p>
    <a href="/carros/<%= carro.id %>">Ver Detalhes</a>
</div>
</div>