<div class="card-item">
<img src="/img/car-card.png" alt="Car" />
<div class="card-content">
    <h3><%= carros.carro %></h3>
    <p><%= carros.descricao %></p>
    <a href="/carros/<%= carros.idVeiculo %>">Ver Detalhes</a>
</div>
</div>