<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/opcionais.css">
</head>
<body>
    <div class="content">
        <div class="alinha">
            <div class="hr">
                <h1>Cadastro de Opcionais</h1>
                <hr>
            </div>
            <form action="" name="opcionais" method="POST">
                <label for="cor">Nome do opcional</label>
                <input type="text" name="nomeDoOpcional" id="nomeDoOpcional" placeholder="Digite o nome do opcional para cadastrar" required="required" />
                <div>
                    <button type="submit">Cadastrar</button>
                    <button type="reset"><a href="http://18.230.71.255:3000/cadastros">Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>
