<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/marcas.css">
</head>
<body>
    <div class="content">
        <div class="alinha">
            <div class="hr">
                <h1>Cadastro de Marcas</h1>
                <hr>
            </div>
            <form action="/cadastros/marcas" name="marcas" method="POST">
                <label for="cor">Nome da Marca</label>
                <input type="text" name="nomeDaMarca" id="nomeDaMarca" placeholder="Digite o nome da marca para cadastrar" />
                <span class="error" ><%= error.nomeDaMarca ? error.nomeDaMarca : '' %></span>
                <div>
                    <button type="submit">Cadastrar</button>
                    <button type="reset"><a href="http://localhost:3000/cadastros">Cancelar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>
