<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://www.tabelafipebrasil.com/api/js/tabelafipe-widget.min.js"></script>
</head>

<body>
  <header>
    <div class="content">
      <nav>
        <p class="brand">
          <strong>
            <%= title %>
          </strong>
        </p>
        <ul class="linha">
          <li class="li"><a href="#catalog">Catálogo</a></li>
          <li class="li"><a href="#about">Sobre nós</a></li>
          <li class="li"><a href="/contato">Contato</a></li>
          <li class="li"><a href="/admin/login">Administração</a></li>
        </ul>
      </nav>

      <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
          <ul class="coluna">
            <li><a href="#catalog">Catálogo</a></li>
            <li><a href="#about">Sobre nós</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/admin/login">Administração</a></li>
          </ul>
        </nav> 
      </div>
      <div class="menu-bg" id="menu-bg"></div>

      <div class="header-block">
        <div class="text">
          <h2>O carro perfeito para você?</h2>
          <p>Compre na Loja de Carros, antes dos seus amigos.</p>
        </div>
      </div>
    </div>
  </header>
  <section class="catalog" id="catalog">
    <div class="content">
      <div class="title-wrapper-catalog">
        <p>Encontre o que você quer</p>
        <h3>Catálogo</h3>
      </div>
      <div class="filter-card">
        <form action="/resultado" method="GET">
          <input name="carro" type="search" class="search-input" placeholder="Procure o seu modelo favorito" />
          <button id="buscar" class="search-button" type="submit">Search</button>
        </form>
      </div>
      <div class="card-wrapper">
        <% for (let i = 0; i <= 9; i++) { %>
          <%- include('partials/cards.ejs', { carros: carros[i] } ) %>
        <% } %>
      </div>
      <div class="tfb-query topo" data-tipo="carros" data-style="1"></div>
    </div>
  </section>
  <section class="about" id="about">
    <div class="content">
      <div class="title-wrapper-about">
        <p>Sobre nós</p>
        <h3>Mais sobre nós!</h3>
      </div>
      <div class="about-content">
        <div class="left">
          <img src="/img/about.png" alt="About">
        </div>
        <div class="right">
          <h3>Junte-se a tecnologia e mobilidade</h3>
          <p>As experiências acumuladas demonstram que a complexidade computacional nos obriga à migração dos requisitos mínimos de hardware exigidos. No entanto, não podemos esquecer que a implementação do código acarreta um processo de reformulação e modernização da rede privada. Todavia, a consolidação das infraestruturas inviabiliza a implantação dos paradigmas de desenvolvimento de software. Nunca é demais lembrar o impacto destas possíveis vulnerabilidades, uma vez que o novo modelo computacional aqui preconizado facilita a criação da utilização dos serviços nas nuvens.
          </p>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="main">
      <div class="content footer-links">
        <div class="footer-company">
          <h4>Company</h4>
          <h6>About</h6>
          <h6>Contact</h6>
        </div>
        <div class="footer-rental">
          <h4>Rental</h4>
          <h6>Self-Drive</h6>
          <h6>Chauffer-Driven</h6>
          <h6>Help</h6>
        </div>
        <div class="footer-social">
          <h4>Stay connected</h4>
          <div class="social-icons">
            <img src="/img/instagram.png" alt="Instagram">
            <img src="/img/facebook.png" alt="Facebook">
          </div>
        </div>
        <div class="footer-contact">
          <h4>Contact US</h4>
          <h6>Informar o telefone</h6>
          <h6>Informar o email. ex: email@email.com</h6>
          <h6>Informa o endereço</h6>
        </div>
      </div>
    </div>
    <div class="last">
      Loja de Carros 2021 - O lugar certo para encontrar o seu carro.
    </div>
  </footer>
</body>

<script src="/js/menuHamburguer.js"></script>
<script>
  const btnBusca = document.getElementById('buscar')
  const ulResultados = document.getElementById('resultados')
    
  btnBusca.onclick = () => {
    const texto = document.querySelector('input').value
    buscar(texto)
    alterarUrl('query', texto)
  }

  async function buscar(texto) {
    const fetchResult = await fetch(`http://localhost:3000/?query=${texto ? texto : ''}`)
    const lista = await fetchResult.json()

    ulResultados.innerHTML = ''

    for (const dado of lista) {
      ulResultados.innerHTML += `<li>Nome: ${dado.nome}, Tipo: ${dado.tipo}</li>`
    }
  }

  function alterarUrl(key, value) {
    const query = new URLSearchParams()
    query.set(key, value)
    location.search = query.toString()
  }

  window.onload = () => {
    const query = new URLSearchParams(location.search)
    const valorBuscado = query.get('query')

    document.querySelector('input').value = valorBuscado
    buscar(valorBuscado)
  }
</script>
</html>