<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/contato.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/cadastros.css">
</head>

<body>
    <%- include('partials/header.ejs', { user: user }) %>
        <div class="content">
            <div class="alinha">
                <hr>
                <h3>Logoff efetuado com sucesso.</h3>
                <p class="link">
                    Fazer login novamente?
                    <a href="/admin/login">Ir para Login</a>
                </p>
                <img src="/img/nissan-vmotion.jpg" alt="Car" />
            </div>
        </div>
        <div>
