body {
    margin: 0px;
    padding: 0px;
}

form {
    font-size: 16px;
    max-width: 500px;
    margin-left: 6px;
    margin-right: 0px;
    padding-left: 20px;
}

.content {
    background: #39ac73;
    padding: 0px 10px 10px 0px;
    max-width: 500px;
    min-height: 500px;    
    margin: 5% auto;

    position: relative;   
}

h1 {
    color: #333;
}

input, textarea {
    width: 94%;
    padding: 10px;
}

.alinhar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enviar input {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #00285f;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.3s ease;
}

.enviar input:hover {
    background: #078;
}

.enviar button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #00285f;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.3s ease;
}

.enviar button a {
    text-decoration: none;
    color: white;
}

.enviar button:hover{
    background: #078;
}

textarea {
    width: 94%;
    height: 120px;
    line-height: 20px;
}

.error {
    color: red;
}
