/* Importação da fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Resetando o css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --green: #39ac73;
    --blue: #00285f;
    --gray: #ededed;
    --grey: #dedede;
    --white: white;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 500px;
    background: var(--green);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
}

.linha {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    color: #00285f83;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--blue);
    font-weight: bold;
    border-radius: 5px;
}

nav ul button:hover {
    transition: background 0.4s, color 0.8s;
    background: var(--blue);
    color: var(--white);
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 500px;
    background-image: url(../img/nissan-vmotion.jpg);
    background-repeat: round;
    border-radius: 10px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.9);
    position: relative;
    padding: 10px;
}

.header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 10%;
    border-radius: 40px;
}

.header-block .text {
    position: absolute;
    top: 16%;
    left: 12%;
}

.header-block .text h2 {
    color: var(--white);
    margin-bottom: 20px;
    text-align: right;
    transform: translate(-30px);
    transition: transform 0.9s;
}

.header-block .text p {
    max-width: 280px;
    color: var(--white);
    text-align: right;
    transform: translateX(-30px);
    transition: transform 0.7s;
  }

  /* Product Catalog */

section .catalog {
    width: 100vw;
    padding: 100px;
}

section .filter-card {
  width: 980px;
  height: 150px;
  background: var(--gray);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 5px 0px 0px 5px;
  text-indent: 10px;
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s ease;
}

.search-button:hover {
  background: var(--grey);
  color: var(--blue);
}

.title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

section .card-item {
    height: 400px;
    background: var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 85%;
}

.card-item h4 {
    width: 90%;
}

.card-item p {
    width: 90%;
    font-style: italic;
    color: #00000070;
}

.card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--blue);
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.card-item button:hover {
    background: var(--grey);
    color: var(--blue);
}

.topo {
    margin-top: 50px;
}

/* About */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dedede3d;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #0000001a;
    border-radius: 10px;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
}

.right h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}

.right p {
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--green);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company, .footer-rental, .footer-contact, .footer-social {
    color: var(--white);
    height: 100%;
    min-width: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*AJUSTANDO O MENU HAMBURGUER*/
.nav li {
    display: none;
}
/*FIM*/

/* Ajustando Responsividade */
@media (max-width: 640px) {

    header {
        height: 300px;
        margin-bottom: -100px;
    }
    nav ul .li {
        display: none;
    }

    .content .header-block {
        height: 200px;
    }

    .header-block .text {
        position: absolute;
        bottom: 10%;
        left: 15%;
    }

    section .filter-card {
        width: 340px;
        padding: 0px 10px;
    }

    .search-input {
        max-width: 120px;
        min-width: 230px;
    }

    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .about {
        margin-top: 100px;
    }

    .title-wrapper-abaut {
        margin-bottom: 20px;
    }

    .about-content {
        flex-direction: column;
        height: 100%;
    }

    .left {
        display: none;
    }

    .right {
        width: 90%;
    }

    .right p {
        width: 100%;
        margin: 0px;
        text-align: justify;
    }

    .features {
        height: 100%;
    }

    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        padding-left: 10%;
    }

    .last {
        font-size: 12px;
    }

/*MENU HAMBURGUER*/
    #menu {
        z-index: 2;
    }
  
    #menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
  
    .bar {
        height: 5px;
        width: 100%;
        background-color: var(--blue);
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
  
    #bar1 {
        transform: translateY(-4px);
    }
  
    #bar3 {
        transform: translateY(4px);
    }
  
    .nav {
        transition: 0.3s ease;
        display: none;
    }
  
    .nav ul {
        padding: 0 22px;
    }

    .nav li {
        list-style: none;
        padding: 12px 0;
        display: list-item;
    }
  
    .nav li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
  
    .nav li a:hover {
        font-weight: bold;
    }
  
    .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute;
    }
  
    .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #62b38a, #62b38a);
        border-radius: 50%;
        transition: 0.3s ease;
    }
  
    .change {
        display: block;
    }
  
    .change .bar {
        background-color: white;
    }
  
    .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
    }
  
    .change #bar2 {
        opacity: 0;
    }
  
    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }
  
    .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
    }
/*FIM MENU HARMBURGUER*/
    
}
